@import "../../styles/mixins";
@import "../../styles/variables";

.navigationBtn {
    background: $white;
    padding: 1rem;
    @include flex(space-between, center, row);

    .pre-btn {
        border: none;
        font-weight: 500;
        color: $cool-gray;
        cursor: pointer;
        background: $white;
    }

    .next-btn {
        border: none;
        padding: 0.5rem;
        cursor: pointer;
        font-weight: 500;
        color: $light-gray;
        border-radius: 5px;
        background-color: $marine-blue;
    }
}